
		<style>
				body{
					background-color:#333333; 
				}

					.form-container{
						display:block; 
						background-color:#ececec;
						position: absolute;
		    			height: 200px;
		    			width: 350px;
		    			margin-top:-100px; 
		    			margin-left:-200px;
		    			top:50%;
		    			left:50%;  
		    			border-radius:8px; 
		    		}

					h1{
						margin-top:-50px; 
						text-align:center;
						color:#f9f9f9;   
					    font-family: 'Comfortaa', cursive;
					    font-weight:lighter;
					    font-size: 36px;  
					}

					.form-signin{
						margin:0 auto;
					}

					.rememeberme{
						float:left;
						display:inline-block;;  
					}

					.fgpass{
						float:right;
						display:inline-block;;  
					}
		</style>
	</head>
	<body>
		<div class="form-container">
		<h1>Doing Good</h1>
		<div class="login-form">
		<form class="form-signin" name="loginForm" novalidate>
        <input
				type="text"
				name="loginUserName"
				ng-model="user.loginUserName"
				id="inputEmail"
				class="form-control"
				placeholder="Email address"
				required autofocus>

		<sapn ng-show="loginForm.loginUserName.$dirty && loginForm.loginUserName.$invalid">
			<small ng-show="loginForm.loginUserName.$error.required">
				Username is required
			</small>
		</sapn>

        <input
				type="password"
				name="loginPassword"
				id="inputPassword"
				ng-model="user.loginPassword"
				class="form-control"
				placeholder="Password"
				required>

		<span  ng-show="loginForm.loginPassword.$dirty && loginForm.loginPassword.$invalid">
			<small ng-show="loginForm.loginPassword.$error.required">
				Password is required
			</small>
		</span>
        
        <span ng-show="loginFailed">
			<small ng-show="loginFailed">
				Username or password was wrong!
			</small>
		</span>

        <div class="checkbox">
			  <label class="remember-me">
				<input type="checkbox" ng-model="remember" ng-click="rememberMe()"/> Remember me
			  </label>
       
			 <label class="fgpass">
				<a href="">Forgot Password?</a>
			  </label>
        </div>
        <button class="btn btn-md btn-primary btn-block" type="submit" ng-click="checkLoginDetails(loginForm.$valid)">Sign in</button>
      </form>

    </div> <!-- /container -->


    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>		
		</div>
		</div>
	</body>
